header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: #fff;
  color: white;
  font-weight: 600;

  padding-left: 37px;
  padding-right: 30px;
}
