.input-search {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

input {
  margin-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #CFCFCF;
  flex-grow: 1;
}