<div class="container">
  <h3>Your List Is Empty</h3>
  <p>Please use 'Add New Course' button to add your first course</p>
  <div class="btn">
    <app-button [buttonText]="addNewCourseButtonText"></app-button>
  </div>
</div>



<!-- Bellow not ready and test only for now -->
<br>
<br>
<br>
<br>
<br>
<hr>
<p>-- Bellow not ready and test only for now --</p>
<div>
  <input type="text" placeholder="Select Password" value="Password123">
  <fa-icon [icon]="faEye"></fa-icon>
  <br>
  <input type="password" placeholder="Select Password" value="Password123">
  <div style="transform: scaleX(-1)">
    <fa-icon [icon]="faEyeSlash"></fa-icon>
  </div>
</div>